/* text-sizes */

.text-2xl{
    font-size: 25px !important ;     /* 2xl = bigger size */
}
.text-xl{
    font-size: 20px !important ;
}
.text-lg{
    font-size: 18px !important ;
}
.text-md{
    font-size: 16px !important ;
}
.text-sm{
    font-size: 14px !important ;
}

/* text alignments */

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

/* text decoration */

.underline{
    text-decoration: underline;
    cursor: pointer;
}